{% extends 'base.html.twig' %}
{% block body %}
    {% include 'components/navbar.html.twig' with {'active': 'register'} %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h3>Registration</h3>
            </div>
        </div>
    </div>
{% endblock %}